.row {
	width: 100%;
	clear: both;
	overflow: hidden;
	display: block;
	margin: 0 -($grid-inner-gutter / 2) $grid-lower-gutter 0;
	
	[class*="-span-"] {
		padding: 0 ($grid-inner-gutter / 2);
		float: left;
		display: inline;
	}
}

// mobile
@media (max-width: 767px) {
	@for $i from 1 through $grid-columns {
		.m-span-#{$i} {
			width: $i / $grid-columns * 100%;
		}
	}
}

// tablet
@media (min-width: 768px) and (max-width: 1029px) {
	@for $i from 1 through $grid-columns {
		.t-span-#{$i} {
			width: $i / $grid-columns * 100%;
		}
	}
}

// desktop
@media (min-width: 1030px) {
	@for $i from 1 through $grid-columns {
		.d-span-#{$i} {
			width: $i / $grid-columns * 100%;
		}
	}
}
